#contact {
  background-image: url("../image/home-bg-remove.png"); /* Verifique o caminho */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.basics-30rem {
  flex: 1 1 30rem !important;
  display: flex !important;
  flex-flow: column wrap !important;
  justify-content: center !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.868) !important;
}
@media (max-width: 768px) {
  #contact .box-form {
    padding-left: 12px;
    padding-right: 12px;
    height: auto !important;
  }
  .rounded-l {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
