#service {
  background-image: url("../image/home-bg.webp"); /* Verifique o caminho */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
